@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* My Custom Styling */

h1 {
    font-weight: 600;
    font-family: 'Inter';
}

/*
header {
    background-color: #222222;
    padding: 15px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 150%;
    font-weight: 100;
    color: white;
} */

body {
    background-color: #111111;
    color: #cccccc;
}

.bagelImage {
    max-width: 500px;
    max-height: 500px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

h2, p {
    font-family: 'Inter';
}

.pageSelect {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: 'Inter';
    appearance: none;       /* Remove default arrow */
    background-image: url(...);   /* Add custom arrow */
    background-color: #222222;
    border: 0px;
    height: 28px;
    width: 100px;
    text-align: center;
    font-size: 100%;
    font-weight: 600;
    color: white;
}

/* Home Page */

.profile-panel-text {
    font-weight: 600;
    font-family: 'Inter';
    font-size: 24px;
    display: inline-block;
    position: absolute;
    top: 190px;
    left: 260px;
    cursor: pointer;
}

.profile-panel-image {
    border: none;
    display: inline-block;
    border-radius: 40px;
    position: absolute;
    outline: none;
    width: 55px;
    height: 55px;
    top: 175px;
    left: 185px;
}

.projectsButton {
    background-color: #42a4f5;
    border: none;
    color: white;
    padding: 8px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    position: absolute;
    left: 1608px;
    top: 7px;
    outline: none;
}

.bagelButton {
    background-color: #42a4f5;
    border: none;
    color: white;
    padding: 8px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    position: absolute;
    left: 1722px;
    top: 7px;
    outline: none;
}

.contactButton {
    background-color: #42a4f5;
    border: none;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    position: absolute;
    left: 1818px;
    top: 7px;
    outline: none;
}

.profile-space {
    position: absolute;
    top: 145px;
    left: 150px;
    width: 400px;
    height: 700px;
    background: #222222;
    border-radius: 14px;
}

.lineDegree1 {
    transform: rotate(180deg);
    position: absolute;
    top: 240px;
    left: 212px;
    width: 10px; 
    height: 50px;  
    border: solid 4px #c6c5c3;
    border-color: #c6c5c3 transparent transparent transparent;
    border-radius: 0 1000px 0 0;
}

.IFELSE-home-text {
    font-family: 'Inter';
    position: absolute;
    cursor: pointer;
    top: 286px;
    left: 260px;
    font-weight: 400;
    font-size: 20px;
}

.IFELSE-straight {
    transform: rotate(90deg);
    position: absolute;
    top: 287px;
    left: 237px;
    border-left: solid 4px #c6c5c3;
    height: 18px;
}

.IFELSE-spacer-div {
    position: absolute;
    cursor: pointer;
    top: 286px;
    left: 260px;
    width: 150px;
    height: 20px;
}

/* Selected Home Info Box */

.info-space {
    position: absolute;
    top: 145px;
    left: 650px;
    width: 1100px;
    height: 700px;
    background: #222222;
    border-radius: 14px;
}

/* IfElse Home Section */

.IFELSE-panel-image {
    border: none;
    display: inline-block;
    border-radius: 14px;
    position: absolute;
    outline: none;
    width: 630px;
    height: 216px;
    top: 175px;
    left: 685px;
    visibility: hidden;
}

.IFELSE-team-space {
    position: absolute;
    top: 175px;
    left: 1350px;
    width: 360px;
    height: 400px;
    background: #2b2b2b;
    border-radius: 14px;
    visibility: visible;
    visibility: hidden;
}

.IFELSE-team-text {
    font-weight: 600;
    font-family: 'Inter';
    font-size: 24px;
    display: inline-block;
    position: absolute;
    top: 205px;
    left: 1385px;
    width: 290px;
    text-align: center;
    visibility: hidden;
}

.IFELSE-team-JosephGeis-image {
    border: none;
    border-radius: 40px;
    display: inline-block;
    position: absolute;
    top: 255px;
    left: 1385px;
    width: 65px;
    height: 65px;
    visibility: hidden;
}

.IFELSE-team-lleyton-image {
    border: none;
    border-radius: 40px;
    display: inline-block;
    position: absolute;
    top: 255px;
    left: 1499px;
    width: 65px;
    height: 65px;
    visibility: hidden;
}

.IFELSE-team-idkwuu-image {
    border: none;
    border-radius: 40px;
    display: inline-block;
    position: absolute;
    top: 255px;
    left: 1610px;
    width: 65px;
    height: 65px;
    visibility: hidden;
}

.IFELSE-team-niilas-image {
    border: none;
    border-radius: 40px;
    display: inline-block;
    position: absolute;
    top: 355px;
    left: 1385px;
    width: 65px;
    height: 65px;
    visibility: hidden;
}

.IFELSE-team-Grify-image {
    border: none;
    border-radius: 40px;
    display: inline-block;
    position: absolute;
    top: 355px;
    left: 1499px;
    width: 65px;
    height: 65px;
    visibility: hidden;
}

.IFELSE-team-Edaz-image {
    border: none;
    border-radius: 40px;
    display: inline-block;
    position: absolute;
    top: 355px;
    left: 1610px;
    width: 65px;
    height: 65px;
    visibility: hidden;
}

.IFELSE-team-TheModdedChicken-image {
    border: none;
    border-radius: 40px;
    display: inline-block;
    position: absolute;
    top: 465px;
    left: 1499px;
    width: 65px;
    height: 65px;
    visibility: hidden;
}

.IFELSE-links-space {
    position: absolute;
    top: 610px;
    left: 1350px;
    width: 360px;
    height: 205px;
    background: #2b2b2b;
    border-radius: 14px;
    visibility: visible;
    visibility: hidden;
}

.IFELSE-links-text {
    font-weight: 600;
    font-family: 'Inter';
    font-size: 24px;
    display: inline-block;
    position: absolute;
    top: 640px;
    left: 1385px;
    width: 290px;
    text-align: center;
    visibility: hidden;
}

.IFELSE-GitHub-image-link {
    border: none;
    border-radius: 40px;
    display: inline-block;
    position: absolute;
    top: 680px;
    left: 1425px;
    width: 80px;
    height: 80px;
    visibility: hidden;
}

.IFELSE-Twitter-image-link {
    border: none;
    border-radius: 40px;
    display: inline-block;
    position: absolute;
    top: 680px;
    left: 1560px;
    width: 80px;
    height: 80px;
    visibility: hidden;
}

/* Clocks Home Section */

.lineDegree2 {
    transform: rotate(180deg);
    position: absolute;
    top: 277px;
    left: 212px;
    width: 10px; 
    height: 90px;  
    border: solid 4px #c6c5c3;
    border-color: #c6c5c3 transparent transparent transparent;
    border-radius: 0 1000px 0 0;
}

.Clocks-straight {
    transform: rotate(90deg);
    position: absolute;
    top: 364px;
    left: 237px;
    border-left: solid 4px #c6c5c3;
    height: 18px;
}

.Clocks-spacer-div {
    position: absolute;
    cursor: pointer;
    top: 363px;
    left: 260px;
    width: 150px;
    height: 20px;
}

.Clocks-home-text {
    font-family: 'Inter';
    position: absolute;
    cursor: pointer;
    top: 364px;
    left: 260px;
    font-weight: 400;
    font-size: 20px;
}

.Clocks-panel-image {
    position: absolute;
    top: 175px;
    left: 685px;
    height: 100px;
    width: 100px;
    visibility: hidden;
}

.Clocks-text {
    position: absolute;
    top: 470px;
    left: 1130px;
    font-family: 'Inter';
    font-weight: 300;
    visibility: hidden;
}