@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* My Custom Styling */

h1 {
    font-weight: 600;
    font-family: 'Inter';
}

/*
header {
    background-color: #222222;
    padding: 15px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 150%;
    font-weight: 100;
    color: white;
} */

body {
    background-color: #111111;
    color: #cccccc;
}

.bagelImage {
    max-width: 500px;
    max-height: 500px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

h2, p {
    font-family: 'Inter';
}

.pageSelect {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: 'Inter';
    appearance: none;       /* Remove default arrow */
    background-image: url(...);   /* Add custom arrow */
    background-color: #222222;
    border: 0px;
    height: 28px;
    width: 100px;
    text-align: center;
    font-size: 100%;
    font-weight: 600;
    color: white;
}

/* Home Page */

.profile-panel-image {
    position: relative;
    float: left;
    border: none;
    border-radius: 40px;
    outline: none;
    width: 55px;
    height: 55px;
    top: 30px;
    left: 35px;
}

.profile-panel-text {
    font-weight: 600;
    font-family: 'Inter';
    font-size: 24px;
    position: relative;
    cursor: pointer;
    top: 45px;
    left: 55px;

    transform: translateX(0px);
    transition: transform 200ms ease-in;
}

.profile-panel-text::after {
    content: "";
    position: absolute;
    left: 55px;
    bottom: -1px;
    width: 235px;
    height: 2px;
    background: currentColor;

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 200ms ease-in;
}

.profile-panel-text:hover::after {
    transform: scaleX(1);
}

.heirarchy {
    position: relative;
    float: left;
    top: 135px;
    left: 15%;
    width: 400px;
    height: 700px;
    background: #222222;
    border-radius: 14px;
}

/* Selected Home Info Box */

.info-space {
    position: relative;
    top: 135px;
    left: 44%;
    width: 800px;
    height: 700px;
    background: #222222;
    border-radius: 14px;
}

/* Tint Home Section */

.lineDegree1 {
    transform: rotate(90deg);
    position: relative;
    bottom: 2px;
    right: 38px;
    width: 10px; 
    height: 50px;  
    border: solid 4px #c6c5c3;
    border-color: #c6c5c3 transparent transparent transparent;
    border-radius: 0 1000px 0 0;
}

.Tint-home-text {
    font-family: 'Inter';
    position: relative;
    float: left;
    cursor: pointer;
    font-weight: 400;
    font-size: 20px;
    top: 115px;
    left: 60px;

    transform: translateX(0px);
    transition: transform 150ms ease-in;
}

.Tint-home-text:hover {
    transform: translateX(10px);
}

.Tint-straight {
    transform: rotate(90deg);
    position: relative;
    float: left;
    top: 125px;
    right: 12px;
    border-left: solid 4px #c6c5c3;
    height: 18px;
}

/* Clocks Home Section */

.lineDegree2 {
    transform: rotate(90deg);
    position: relative;
    bottom: 22px;
    right: 58px;
    width: 10px; 
    height: 90px;  
    border: solid 4px #c6c5c3;
    border-color: #c6c5c3 transparent transparent transparent;
    border-radius: 0 1000px 0 0;
}

.Clocks-home-text {
    font-family: 'Inter';
    position: relative;
    float: left;
    cursor: pointer;
    font-weight: 400;
    font-size: 20px;
    top: 193px;

    transform: translateX(0px);
    transition: transform 150ms ease-in;
}

.Clocks-home-text:hover {
    transform: translateX(10px);
}

.Clocks-straight {
    transform: rotate(90deg);
    position: relative;
    float: left;
    top: 202px;
    right: 97px;
    border-left: solid 4px #c6c5c3;
    height: 18px;
}

.Clocks-spacer-div {
    position: relative;
    float: left;
    cursor: pointer;
    width: 150px;
    height: 20px;
}

/* Tint Home Section */

.Tint-download-button {
    position: relative;
    top: 7px;
    left: 10px;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: #242424;
}

.Tint-download-button:hover line{
    stroke: rgb(218, 218, 218);
}

.Tint-x64-download-div {
    position: relative;
    top: 90px;
    width: 350px;
    height: 50px;
    border-radius: 6px;
    background-color: #303030;
    overflow: hidden;

    transform: translateZ(0);
    transition: 0.2s ease-in-out, visibility 0s;
    /*
    transition: background-color 0.1s ease-in;
    transition: transform 0.2s ease-in-out;
    transition: height 0.2s ease-in-out; */
}

.Tint-x64-download-div:hover {
    background-color: #3a3a3a;
    transform: scale(1.05);
    height: 110px;
}

.Tint-ia32-download-div {
    position: relative;
    top: 115px;
    width: 350px;
    height: 50px;
    border-radius: 6px;
    background-color: #303030;
    overflow: hidden;

    transition: 0.2s ease-in-out, visibility 0s;
}

.Tint-ia32-download-div:hover {
    background-color: #3a3a3a;
    transform: scale(1.05);
    height: 110px;
}

.Tint-arm64-download-div {
    position: relative;
    top: 140px;
    width: 350px;
    height: 50px;
    border-radius: 6px;
    background-color: #303030;
    overflow: hidden;

    transform: translateZ(0);
    transition: 0.2s ease-in-out, visibility 0s;
}

.Tint-arm64-download-div:hover {
    background-color: #3a3a3a;
    transform: scale(1.05);
    height: 110px;
}

.Tint-panel-changelog-panel {
    position: relative;
    top: 180px;
    width: 350px;
    height: 395px;
    border-radius: 14px;
    background-color: #303030;
    text-align: center;

    transition: 0.2s ease-in-out, visibility 0s;
}